<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter/Modifier Module</title>
</head>
<body>
<h1>Ajouter/Modifier Module</h1>
<form th:action="@{/modules/ajouter}" th:object="${module}" method="post">
    <label for="nom">Nom:</label>
    <input type="text" id="nom" th:field="*{nom}" />
    <br/>
    <label for="description">Description:</label>
    <input type="text" id="description" th:field="*{description}" />
    <br/>
    <label for="professeur">Professeur:</label>
    <select id="professeur" th:field="*{professeur}">
        <option th:each="professeur : ${professeurs}" th:value="${professeur}" th:text="${professeur.nom}"></option>
    </select>
    <br/>
    <button type="submit">Enregistrer</button>
</form>
</body>
</html>
